{% extends "shop/base.html" %}
{% block content %}
<!-- register -->
<div class="register">
    <div class="container">
        <h2>Register Here</h2>
        <div class="login-form-grids">
            <h5>Use Correct information</h5>
            <form action="." method="post">
                {% for field in user_form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} <br>
                    {{ field }}
                </div>
                <br>
                {% endfor %}
                {% csrf_token %}
                <input class="text-white lead green-bg p-2 mb-3 rounded" type="submit" value="Create Account">
            </form>
        </div>
        <div class="register-home">
            <a href="{% url 'shop:home' %}">Home</a>
        </div>
    </div>
</div>
<!-- //register -->
{% endblock %}