{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">About</li>
        </ol>
    </div>
</div>
<br>
<div class="container px-0">
    <img class="img-fluid img-thumbnail" src="{% static 'img/aboutshop.jpg' %}" alt="Company headquarter image">
</div>
<br>
<div class="container mb-5">
    <h2 class="text-center">
        ABOUT BRIGHTER SHOP
    </h2>
    <hr>
    <p>
        Brighter Shop is a grocery business with retail stores located in BODEN. Our focus is all about supplying you
        with varieties of raw, fresh and dry foods.

        Are you interested in African, Caribbean, Asian and Swedish products with top quality, best price? Brighter Shop
        is the right place to buy your food. </p>
</div>



<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">

                <img src="https://mdbootstrap.com/img/Others/food.jpg" class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 mb-4 mb-lg-0">

                <h3 class="font-weight-bold">We sherish you!</h3>

                <p class="font-weight-bold">We are based in boden but we can deliver everywhere in Norrbotten, either
                    peroducts or other services</p>

                <p class="text-muted">Brighter shop has always flesh and quality food</p>

                <a class="font-weight-bold" href="#">Visit our Shop<i class="fas fa-angle-right ml-2"></i></a>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>
{% endblock %}