{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Cleaning</li>
        </ol>
    </div>
</div>
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">We Do Cleaning,
        <small> <a href="{% url 'contact' %}"> Get quotation for free</a> </small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="{% static 'img/clean.png' %}" alt="clean-image">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Committed To Quality</h3>
            <p>
                Our Quality Assurance Program means we invest in our Employee Training Program and measure performance
                to deliver Consistency and Excellence.</p>
            <h3 class="my-3">OUR CLEANING SERVICES</h3>
            <ul>
                <li>RESIDENTIAL CLEANING</li>
                <li>COMMERCIAL CLEANING</li>
                <li>RENOVATION CLEANING</li>
                <li>GARDEN CLEANING</li>
                <li>OFFICE CLEANING</li>
                <li>CARPET CLEANING</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->


    <!-- /.row -->

</div>

<h2 class="text-center">ABOUT OUR CLEANING</h2>

<div class="container">

    <div class="col-md-3" style="float:left">
        <!-- Card -->
        <div class="card testimonial-card">

            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="https://www.templateshub.net/demo/Chillclean-Cleaning-Services-Template/assets/images/cleaner.svg"
                    class="" alt="woman avatar" style="height:80px;">
            </div>

            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h2 class="card-title text-center">EXPERT</h2>
                <hr>
                <!-- Quotation -->
                <p><i class="fas fa-quote-left"></i> All our team members are wll trained
                </p>
            </div>

        </div>
    </div>
    <!-- Card -->


    <!-- Card Wider -->
    <div class="col-md-3" style="float:left">
        <!-- Card -->
        <div class="card testimonial-card">

            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="https://www.templateshub.net/demo/Chillclean-Cleaning-Services-Template/assets/images/cleaning-lady.svg"
                    class="" alt="woman avatar" style="height:80px;">
            </div>

            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h2 class="card-title text-center">SECURE SERVICE</h2>
                <hr>
                <!-- Quotation -->
                <p><i class="fas fa-quote-left"></i> All your materials and product are secured by our insurance and our
                    honest staff
                </p>
            </div>

        </div>
    </div>
    <!-- Card -->

    <div class="col-md-3" style="float:left">
        <!-- Card -->
        <div class="card testimonial-card">

            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="https://www.templateshub.net/demo/Chillclean-Cleaning-Services-Template/assets/images/clean.svg"
                    class="
                " alt="woman avatar" style="height:80px;">
            </div>

            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h2 class="card-title text-center">LOW COST</h2>
                <hr>
                <!-- Quotation -->
                <p><i class="fas fa-quote-left"></i> We offer resonable price in all our services
                </p>
            </div>

        </div>
    </div>
    <!-- Card -->

    <!-- Card Wider -->
    <div class="col-md-3" style="float:left">

        <!-- Card -->
        <div class="card testimonial-card">

            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="https://www.templateshub.net/demo/Chillclean-Cleaning-Services-Template/assets/images/clean-1.svg"
                    class="" alt="woman avatar" style="height:80px;">
            </div>

            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h2 class="card-title text-center">ON TIME</h2>
                <hr>
                <!-- Quotation -->
                <p><i class="fas fa-quote-left"></i> We strive to hondover the result on time and we can work under
                    presure.
                </p>
            </div>

        </div>
    </div>
    <!-- Card -->
</div>

<h2 class="text-center">OUR CLEANING SERVICES</h2>

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item mb-4" data-ride="carousel">



    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>

    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                        src="https://businessyantra.com/wp-content/uploads/2019/03/Starting-A-Cleaning-Business.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center">House cleaning</h2>
                        <p class="card-text">We strive each and every day to provide you: our customer with a memorable
                            service experience.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                        src="https://media.istockphoto.com/photos/cleaning-with-spray-detergent-rubber-gloves-and-dish-cloth-on-work-picture-id1202033073?k=6&m=1202033073&s=612x612&w=0&h=AQNX-nQ_g4yy6OHMCEC5CYUmHgeFKgk5lbAlYDx3Bhs="
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center">Carpet cleaning</h2>
                        <p class="card-text">From tub of shame to sink of stink… we’ll clean it all in less time than
                            you think!
                            Are you selling? A clean house sells for more.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                        src="https://www.spectrumpolicy.org/wp-content/uploads/2019/11/House-Cleaning-Services.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center">Residential Cleaning</h2>
                        <p class="card-text">Do you have dust bunnies lurking behind your monitors? Sounds like time to
                            close the book on lack lustre. Whether it’s your office or your store.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                        src="https://www.templateshub.net/demo/Chillclean-Cleaning-Services-Template/assets/images/service/img_6.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center">Commercial Cleaning</h2>
                        <p class="card-text">Do you have dust bunnies lurking behind your monitors? Sounds like time to
                            close the book on lack lustre. Whether it’s your office or your store; it’s OK to expect
                            more from your commercial cleaners.</p>

                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                        src="https://www.templateshub.net/demo/Chillclean-Cleaning-Services-Template/assets/images/service/img_4.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center">After Renovation</h2>
                        <p class="card-text">Big project or small; we can handle it all. Whether you are a home owner
                            fighting with the renovation dust we are ready to make your work shine.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                        src="https://www.templateshub.net/demo/Chillclean-Cleaning-Services-Template/assets/images/service/img_2.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center">Office Cleaning</h2>
                        <p class="card-text">Some quick example text to build on the card title and make
                            up
                            the bulk of
                            the
                            card's content.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                        src="https://www.pearcleaning.com/wp-content/uploads/2017/11/05-carpet-shampoo-Allergic-to-Cleaning-13-Ways-to-Keep-Allergies-in-Check-When-Spring-Cleaning_262998791-Syda-Productions-ft.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center">Garden Cleaning</h2>
                        <p class="card-text">Some quick example text to build on the card title and make
                            up
                            the bulk of
                            the
                            card's content.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top"
                        src="https://www.templateshub.net/demo/Chillclean-Cleaning-Services-Template/assets/images/service/img_1.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title text-center">Shops Cleaning</h2>
                        <p class="card-text">We provide shops cleaning and
                            post-construction cleaning. We strive to provide a "deep clean" feeling and are available
                            when you need us to be. </p>

                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->

    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->

{% endblock %}