{% block menu %}

<!-- navigation -->
<div class="navigation-agileits">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light  navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button class="navbar-toggler navbar-toggle1" type="button" data-toggle="collapse"
                    data-target="#bs-megadropdown-tabs" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'shop:home' %}" class="act">Home</a></li>
                    <!-- Mega Menu -->
                    <li class="dropdown">
                        <a href="#" class="" data-toggle="dropdown">Groceries<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>All Groceries</h6>
                                        <li><a href="{% url 'shop:product_list' %}">Fish & Meat</a></li>
                                        <li><a href="{% url 'shop:product_list' %}">cerials & Rice</a></li>
                                        <li><a href="{% url 'shop:product_list' %}">Lotion</a></li>
                                        <li><a href="{% url 'shop:product_list' %}">Face Care</a></li>
                                        <li><a href="{% url 'shop:product_list' %}"> Beverages & Drinks</a></li>
                                        <li><a href="{% url 'shop:product_list' %}">Africa Products</a></li>
                                    </ul>
                                </div>

                            </div>
                        </ul>
                    </li>

                    <li><a href="{% url 'shop:special_offer' %}">Offers</a></li>

                    <li class="dropdown">
                        <a href="#" class="" data-toggle="dropdown">Categories<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <a class="dropdown-item" href="{% url 'shop:product_list' %}">All</a>
                                        {% for c in categories %}
                                        <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                        {% endfor %}
                                    </ul>
                                </div>

                            </div>
                        </ul>
                    </li>
                    <!--<li><a href="gourmet.html">Gourmet</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="" data-toggle="dropdown">Beauty Salon<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>All Categories</h6>
                                        <li><a href="{% url 'shop:salon' %}">Women Price</a></li>
                                        <li><a href="{% url 'shop:salon' %}">Men Price</a></li>
                                        <li><a href="{% url 'shop:salon' %}">Children Price</a></li>
                                        <li><a href="{% url 'shop:service' %}">Men Style</a></li>
                                        <li><a href="{% url 'shop:service' %}">Women Style </a></li>
                                        <li><a href="{% url 'shop:service' %}">Other Services</a></li>
                                    </ul>
                                </div>

                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="" data-toggle="dropdown">Services<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="{% url 'shop:cleaning' %}">Cleaning</a></li>
                                        <li><a href="{% url 'shop:service' %}">Hair Cut</a></li>
                                        <li><a href="{% url 'shop:service' %}">Hair Braid</a></li>
                                        <li><a href="{% url 'shop:service' %}">Make Up</a></li>
                                        <li><a href="{% url 'shop:service' %}">More Services</a></li>

                                    </ul>
                                </div>

                            </div>
                        </ul>
                    </li>


                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'shop:about' %}">About</a></li>


                    <li class="nav-item dropdown dropdown-slide ">
                        <a class=" color-white" href="" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa fa-language fa-2x" aria-hidden="true"></i>
                        </a>
                        <!-- Dropdown list -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item">
                                <div id="google_translate_element"></div>
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>
<style type="text/css">
    .goog-te-gadget-simple {
        border-radius: 5px;
        background-color: black;
        padding: 7px;
    }

    a.goog-te-menu-value>span {
        color: orange;
    }
</style>

<!-- //navigation -->
{% endblock %}